<mat-sidenav-container>

  <mat-sidenav #sidenav role='navigation'>
    <!-- container -->
    <div class="flex-container">
      <!-- item1 -->
      <div>
        <!-- child of item1 -->
        <mat-nav-list fxFlex fxLayoutGap="20px" fxLayoutAlign="flex-start">
          <div style="flex-basis: 0px">
          </div>

          

          <div style="flex-basis: 0px">
              <button mat-icon-button (click)="sidenav.toggle()">
                  <mat-icon>close</mat-icon>
                </button>
          </div>
          <div style="flex-basis: 80px">
             <img src="./assets/moodle-logo.png" id="smallerImage" >
          </div>
          <div style="flex-basis: 0px">
          </div>
        </mat-nav-list>
      </div>
      <!-- item2 -->
      <div>
        <mat-nav-list>
          <a mat-list-item [routerLink]="['/courselist', {outlets: {'left': ['timetable'], 'right': ['welcome']}}]" (click)="sidenav.close()">
            <mat-icon class="icons">home</mat-icon>
            <span class="nav-caption"></span> Welcome</a>

          <a mat-list-item [routerLink]="['/courselist', {outlets: {'left': ['mycourse'], 'right': ['welcome']}}]" (click)="sidenav.close()">
            <mat-icon class="icons">list</mat-icon>
            <span class="nav-caption"></span> My Courselist</a>

          <a mat-list-item routerLink="/capture" (click)="sidenav.close()">
            <mat-icon class="icons">perm_camera_mic</mat-icon>
            <span class="nav-caption"></span> Capture Control
            <span class="nav-caption-recording"></span>
            <mat-icon class="recording">fiber_manual_record
            </mat-icon>
          </a>
        </mat-nav-list>
      </div>
    </div>
  </mat-sidenav>


  <!-- outside the slide nav -->
  <mat-sidenav-content>
    <mat-toolbar color="accent">
      <div fxFlex fxLayoutGap="20px" fxLayoutAlign="flex-start">
        <div>
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div>
          <a [routerLink]="['/courselist', {outlets: {'left': ['timetable'], 'right': ['welcome']}}]">
            <img src="./assets/moodle-logo.png">
          </a>
        </div>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end">
        <div *ngIf="true">
          <a routerLink="capture" href="">SignIn</a>
        </div>
        <div *ngIf="false">image</div>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>

</mat-sidenav-container>