<div class="streamcontrol">
    <div class="control">
        <button mat-raised-button (click)="open()">REC</button>
    </div>
    <div class="control">
        <button mat-raised-button (click)="open()">WEB</button>
    </div>
    <div class="control">
        <button mat-raised-button (click)="open()">R2R</button>
    </div>
</div>


<div class="streamcontrol">
        <div class="control">
                
                        <mat-icon>play_circle_outline</mat-icon>
                      
        </div>
        <div class="control">
        
                <mat-icon>stop</mat-icon>
              
      </div>
    </div>
