.streamcontrol {
    /* box-shadow: 1px 1px 2px 1px #cacaca; */
    display: flex;
    justify-content: space-around;
}

.control {
    flex-basis: 370px;
    max-width: 370px;
    min-width: 60px;
    margin: 0px;
    border-radius: 20px;
}

.on {
    background-color: #E0370F;
    height: 75px;
    width: 75px;
}

.off {
    background-color: #FFFFFF;
    height: 75px;
    width: 75px;
}

.standby {
    background-color: #F8A900;
    height: 75px;
    width: 75px;
}

a:hover, a:active, a:focus, a:visited {
    text-decoration: none;
}

button:focus {
    outline: 0;
}

.spans{
    font-size: 90px;
    line-height: 2;
    color: #6b6b6b;
    cursor: pointer;
}

.mat-raised-button:not([class*=mat-elevation-z]) {
    height: 100%;
    /* border-radius: 15px; */
}


.mat-button.mat-small {
    min-width: 10%;
}
