<mat-card class="coursedetail-card">
  <mat-card-header>
      
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title id="title">Course Detail</mat-card-title>
    <!-- <mat-card-subtitle>Course info/ Ad hoc</mat-card-subtitle> -->
  </mat-card-header>
  
  <div class="container">
    <div>
  <mat-card-content>

      <p>   Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and 
        </p> 
     
  </mat-card-content>
  </div>

  <div class="secondContainer">

      <div class="checkbox">
        <mat-checkbox [formControl]="disableSelect" color='accent'>I agree to the disclaimer.consectetur </mat-checkbox>
      </div>

      <div>
        <button mat-raised-button>I agree</button>
      </div>

    </div>


  <div>
  <mat-card-actions>
    <button mat-button >START RECORDING</button>
    <button mat-button (click)="openDialog()">EDIT COURSE</button>
  </mat-card-actions>
</div>

</div>
</mat-card>


