
.coursedetail-card {
 
    /* border-radius: 10px; */
  }
  

p,h2{
    line-height:20px
    }

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.secondContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
  }

a:hover, a:active, a:focus, a:visited {
    text-decoration: none;
}

button:focus {
    outline: 0;
}


#title {
    color: #8c8c8c;
      font-size: 20px;
      font-weight: 600;
  }