a:hover, a:active, a:focus, a:visited {
    text-decoration: none;
}

button:focus {
    outline: 0;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.secondContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.mat-dialog-actions {
    padding: 12px 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
}

.container1forstep2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.title {
    width: 300px;
}

.chips {
    padding-top: 185px;
    padding-left: 390px;
}

p {
    background-color: #f9f9f9;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid whitesmoke;
    color: #747474;
    font-size: 16px;
    word-wrap: break-word;
}