<div fxLayout="row" fxLayout.xs="column"  >
  <!-- preview component -->
  <div  id="preview" fxFlex.xs="60"><router-outlet name="topleft"></router-outlet> </div>
<!-- streamcontrol component -->
  <div  id="streamcontrol" fxFlex.xs="60"><router-outlet name="topright"></router-outlet> </div>
</div>


<!-- second row -->
<div fxLayout="row"  fxLayout.xs="column" >
  <!-- preset component -->
  <div id="preset" fxFlex.xs="60"><router-outlet name="bottomleft"></router-outlet> </div>
<!-- timer component -->
  <div id="timer" fxFlex.xs="60"><router-outlet name="bottomright"></router-outlet> </div>
</div>