.timetable-card {

  /* border-radius: 10px; */
}

  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }


  .pastcourse {
    color: #747474;
    font-size: 14px;
    word-wrap: break-word;
    font-weight: 600;
  }
  

  .presentcourse {
    color: #000000;
    background-color: #f4f4f4;
    font-size: 14px;
    word-wrap: break-word;
    font-weight: 600;
  }


a:hover, a:active, a:focus, a:visited {
    text-decoration: none;
  
}

#title {
  color: #8c8c8c;
    font-size: 20px;
    font-weight: 600;
}