<mat-card class="mycourse-card">
  <mat-card-header>
    <mat-card-title id="title">Time Table</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-nav-list>

      <a class="courselist" mat-list-item [routerLink]="['/courselist', {outlets: {'left': ['mycourse'], 'right': ['coursedetail']}}]">
        2018S 220019.1 INTOR - Interne Organisationskommunikation</a>
        
      <a class="courselist" mat-list-item routerLink="/capture" >
       2018S 220011.1 FOSE: SE FOSE A Forschungsseminar A</a>

       <a class="courselist" mat-list-item routerLink="/capture" >
        2018S 220019.1 INTOR - Interne Organisationskommunikation</a>
        
      <a class="courselist" mat-list-item routerLink="/capture" >
       2018S 220011.1 FOSE: SE FOSE A Forschungsseminar A</a>

       <a class="courselist" mat-list-item routerLink="/capture" >
        2018S 220019.1 INTOR - Interne Organisationskommunikation</a>
        
      <a class="courselist" mat-list-item routerLink="/capture" >
       2018S 220011.1 FOSE: SE FOSE A Forschungsseminar A</a>
      
    </mat-nav-list>
  </mat-card-content>

  
  
</mat-card>
