<!-- <h4 class="subs">MyCourselist Component</h4> -->

<mat-card class="mycourse-card">

        <mat-card-header class="flex-container">    
        <mat-card-title id="title" *ngIf = "!persenal">Your course</mat-card-title>
        <mat-card-title id="title" *ngIf = "persenal">Room Courses</mat-card-title>
        <div></div><div></div>
        <form>
        <mat-slide-toggle #personal="ngModel" ngModel (click)="onTogle()" *ngIf = "authService.isAuth()">Personal</mat-slide-toggle>
      </form>
        </mat-card-header>
        <mat-card-content>
          <mat-nav-list >

<div *ngIf = "!persenal"> 
<app-courseitem  *ngFor="let course of theCourse1; let i = index" [index] = "i" [course] = course> </app-courseitem>
</div>

<div *ngIf = "persenal"> 
<app-courseitem *ngFor="let course of theCourse; let i = index" [index] = "i" [course] = course> </app-courseitem>
</div>

</mat-nav-list>
</mat-card-content>


</mat-card>