#title {
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 10px;
    border-radius: 5px;
    background-color: #8BC34A;
    color: #ffffff;
    /* font-weight: 600; */
    font-size: 15px;
  }

  .flex-container {
    display: flex;
    justify-content: space-around;
    /* background-color: DodgerBlue; */
  }
  
  .flex-container > div {
    /* background-color: #f1f1f1; */
    width: 100px;
    margin: 10px;
    /* text-align: center; */
    /* line-height: 75px; */
    /* font-size: 30px; */
  }
  