<div class="preview"> 
        <div class="pic"> 
<mat-card>
        <mat-card-content>
   
          <mat-tab-group class="demo-tab-group">
            <mat-tab label="Tab 1">
              <div class="demo-tab-content">
              
              </div>
            </mat-tab>
            <mat-tab label="Tab 2">
              <div class="demo-tab-content">
             
              </div>  
            </mat-tab>
           
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
</div>

      </div>