#preset {
    /* box-shadow: 1px 1px 2px 1px #cacaca; */

}

.demo-tab-group {
    /* border: 1px solid #e8e8e8; */
  }
  
  .demo-tab-content {
    padding: 16px;
  }
  


  .preview {
    /* box-shadow: 1px 1px 2px 1px #cacaca; */
    display: flex;
  justify-content: space-around;
}

.pic{
    flex-basis: 100%;
    max-width: 100%;
    min-width: 60px;
    margin: 0px;
}

mat-card.mat-card {
    box-shadow: none;
}


.container {
    display: flex;
  justify-content: space-around;
}

ng2-carouselamos-wrapper {
    width: 560px;
}

a:hover, a:active, a:focus, a:visited, 
img:hover, img:active, img:focus, img:visited,
.item:hover, .item:active , .item:focus , .item:visited  {
    text-decoration: none;
    outline: 0;
  
}

img {
    text-decoration: none;
    outline: 0;  
}

button:focus {
    outline: 0;
}
