<div class="preview"> 
        <div class="pic"> 
<mat-card>
        <mat-card-content>
   
          <mat-tab-group class="demo-tab-group">
            <mat-tab label="Preset">
              <div class="demo-tab-content">
              
                <!-- carousel -->
<!--                 
<div class="container"> 
                <div
                ng2-carouselamos
                [width]="200"
                [items]="items"
                [$item]="item"
                [$prev]="prev"
                [$next]="next"
              ></div>

              <ng-template #prev class="prev" style="margin-left: 10px">
                <button mat-icon-button>
                  <mat-icon>keyboard_arrow_left</mat-icon>
                </button>              
              </ng-template>
              
              <ng-template #next class="next" >
                <button mat-icon-button >
                  <mat-icon>keyboard_arrow_right</mat-icon>
                </button>
              </ng-template>

              <ng-template let-item let-i="index" #item class="items">
                <div class="items-each" style="min-width: 200px"> -->
                  <!-- <b *ngIf="i === selectedIndex">{{i}}. {{item.name}}</b> -->
                  <!-- <img src="{{item.URL}} " alt="" style="width: 50px; height: 50px; margin-left: 15px" > -->
                  <!-- <span *ngIf="i !== selectedIndex">{{i}}. {{item.name}}</span> -->
                <!-- </div>
              </ng-template> -->


            <!-- </div> -->

                <!-- end of carousel -->


              </div>
            </mat-tab>
            <mat-tab label="Layout">
              <div class="demo-tab-content">
             
              </div>  
            </mat-tab>
           
          </mat-tab-group>
        </mat-card-content>
      </mat-card>
</div>

      </div>