.flex-container {
  display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: inherit;
  
    
}

.flex-container>div {
  margin: 50px;
  /* min-width: 200px; */
  flex-basis: 30%;
  flex-grow: 1;
}


.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 900px;
  /* overflow:hidden; */
  min-height:1000px;
  
  }

  
