#constainer{
  display: flex;
  /* width: 100%; */
  flex-direction: column;
  justify-content: center;
  height: 700px;
  border: 1px solid black;
  }
  

  .child {
    /* width: 200px; */
    height: 200px;
    /* background-color: red; */

}


  #child1 {
    /* flex: 1; */
      background-color: red;
  }
  #child2 {
    float: 4;
      background-color: rgb(0, 255, 21);
  }
  #child3 {
      background-color: rgb(89, 0, 255);
  }
  


