.preview {
    /* box-shadow: 1px 1px 2px 1px #cacaca; */
    display: flex;
  justify-content: space-around;
}

.pic{
    flex-basis: 370px;
    max-width: 370px;
    min-width: 60px;
    margin: 0px;
}

.mat-dialog-container {
    min-width: 600px;
}