.flex-container {
    display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width: 100%;
      justify-content: space-evenly;
      align-items: baseline;
      align-content: inherit;
  }
.x {
  text-decoration: none;
  margin-left: 97%;
  font-weight: 600;
  color: #ababab;
  cursor: pointer;
  font-size: 15px;
}

  .flex-container>div {
    margin: 10px;
    /* min-width: 200px; */
    flex-basis: 30%;
  }

  img {
    box-shadow: 0px 2px 1px #909090;
    max-width: 100%;
    margin-bottom: 40px;
    margin-top: 9px;
    /* max-width: 92%;
    margin-left: 30px; */
  } 
  
  /* mat-slider {
    margin-left: 40px;
  } */

  .sliderZoom {
    height: 54px;
    width: 450px;
    max-width: 450px;
    min-width: 215px;
    margin-top: -15px;
  }

  .sliderTilt {
    height: 52px;
    width: 450px;
    max-width: 450px;
    min-width: 215px;
    margin-top: -15px;
  }

  .sliderPan {
    height: 40px;
    width: 450px;
    max-width: 450px;
    min-width: 215px;
    margin-top: -15px;
  }

  .camera-control-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-left: 82px;
  }
  
  .example-full-width {
    width: 100%;
  }

  .labelPan { 
  text-align: center;
    top: 29%;
    display: inline;
    font-size: 15px;
    border-radius: 4px;
    color: white;
    background-color: #2196F3;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .labelTilt { 
    text-align: center;
      top: 29%;
      display: inline;
      font-size: 15px;
      border-radius: 4px;
      color: white;
      background-color: #9C27B0;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .labelZoom { 
      text-align: center;
        top: 29%;
        display: inline;
        font-size: 15px;
        border-radius: 4px;
        color: white;
        background-color: #FF5722;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
      }

      .mat-dialog-container {      
        min-width: 600px;
      }


      a:hover, a:active, a:focus, a:visited {
        text-decoration: none;
    }
    
    button:focus {
        outline: 0;
    }
      