<mat-horizontal-stepper [linear]="isLinear" #stepper>

  <!-- step 1 -->
  <mat-step [stepControl]="firstFormGroup">

    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Metadata</ng-template>

      <div class="container1forstep1">

        <mat-form-field class="title">
          <input matInput placeholder="Title" formControlName="secondCtrl" required>
        </mat-form-field>

        <div class="coursenoandsemestercontainerforstep1">
          <mat-form-field class="courseNo">
            <input matInput placeholder="course No." formControlName="secondCtrl" required>
          </mat-form-field>

          <mat-form-field class="semester">
            <mat-select placeholder="Semester">
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{ food.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- chips -->
        <mat-form-field class="chipelements">
          <mat-chip-list #chipList>

            <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable" (removed)="remove(fruit)" class="thechip">
              <img src="https://goo.gl/yGF5qL" alt="Avatar" class="avatar">
              <span class="chiptext"> {{fruit.name}}</span>
              <mat-icon matChipRemove *ngIf="removable" class="chipcancelbutton">cancel</mat-icon>
            </mat-chip>

            <input placeholder="New fruit..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)" />
          </mat-chip-list>
        </mat-form-field>


      </div>

      <div class="actionsforstep1">
        <mat-dialog-actions align="end">
          <button mat-raised-button matStepperNext>Cancel</button>
          <button mat-raised-button (click)="onCloseCancel()">Next</button>
        </mat-dialog-actions>
      </div>


    </form>
  </mat-step>

  <!-- step 2 -->
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Permissions</ng-template>

      <div fxLayout="row wrap" fxLayout.xs="row" fxLayout.xm="row"  fxLayoutAlign="space-arround" fxLayoutGap="20px" class='tablescontainer'>

        <!-- table1 -->
        <div fxFlex="">
          <div class="example-container mat-elevation-z8">
            <div class="example-header">
              <mat-form-field>
                <input matInput (keyup)="applyFilterTable1($event.target.value)" placeholder="Filter">
              </mat-form-field>
            </div>
            <mat-table #table [dataSource]="dataSource">


              <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <!-- {{element.position}} -->
                  <mat-checkbox [formControl]="" color='accent'></mat-checkbox>
                </mat-cell>

              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="weight">
                <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="symbol">
                <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </div>

          <button mat-button>Permit</button>
        </div>
        <!-- end table1 -->


        <!-- table2 -->
        <div fxFlex="">
          <div class="example-container mat-elevation-z8">
            <div class="example-header">
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
              </mat-form-field>
            </div>
            <mat-table #table [dataSource]="dataSource">

              <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <!-- {{element.position}} -->
                  <mat-checkbox [formControl]="" color='accent'></mat-checkbox>
                </mat-cell>

              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="weight">
                <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="symbol">
                <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </div>

          <button mat-button>Remove</button>
        </div>
      </div>
      <!-- end table2 -->



      <div class="actionsforStep2">
        <mat-dialog-actions>
          <button mat-raised-button (click)="open()" >Back</button>
          <button mat-raised-button (click)="onCloseCancel()" >Finish</button>
        </mat-dialog-actions>
      </div>


    </form>
  </mat-step>

  <!-- step 3 -->
  <mat-step>
    <ng-template matStepLabel>Manage Publication</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>



</mat-horizontal-stepper>